{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript",
        "jsxBracketSameLine": true
      }
    },
    {
      "files": "*.py",
      "options": {
        "parser": "python",
        "tabWidth": 4
      }
    }
  ]
}
